$roboto-font-path: "../fonts/Roboto";

@font-face {
    font-family: $font-roboto;
    src: url("#{$roboto-font-path}/Roboto-Light.woff2") format("woff2"),
         url("#{$roboto-font-path}/Roboto-Light.woff") format("woff"),
         url("#{$roboto-font-path}/Roboto-Light.ttf") format("truetype");
    font-weight: $font-weight-light;
    font-style: normal;
}

@font-face {
    font-family: $font-roboto;
    src: url("#{$roboto-font-path}/Roboto-Regular.woff2") format("woff2"),
         url("#{$roboto-font-path}/Roboto-Regular.woff") format("woff"),
         url("#{$roboto-font-path}/Roboto-Regular.ttf") format("truetype");
    font-weight: $font-weight-regular;
    font-style: normal;
}

@font-face {
    font-family: $font-roboto;
    src: url("#{$roboto-font-path}/Roboto-Bold.woff2") format("woff2"),
         url("#{$roboto-font-path}/Roboto-Bold.woff") format("woff"),
         url("#{$roboto-font-path}/Roboto-Bold.ttf") format("truetype");
    font-weight: $font-weight-bold;
    font-style: normal;
}
